// Colors
$color-text-primary: hsl(300, 43%, 22%);
$color-text-secondary: hsl(333, 80%, 67%);

$color-background-one: hsl(303, 10%, 53%);
$color-background-two: hsl(300, 24%, 96%);
$color-background-three: hsl(0, 0%, 100%);

// Font size
$font-size: 15px;
$font-size-desktop: 17px;
$font-size-large: $font-size * 2;


// Width
$width-mobile: 375px;
$width-destock: 1440px;

// Breakpoint
$breakpoint-large-min-width: 800px;
